@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #FBFAEC;
}

h1, h2 {
  font-family: "Bad Script", sans-serif;
}

h3, h4, h5, h6, p, a, span, button, input, small {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 3.8em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-size: 1.6em;
  color: #3A3A3A;
}

a {
  font-size: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #FBFAEC;
}

h1, h2 {
  font-family: "Bad Script", sans-serif;
}

h3, h4, h5, h6, p, a, span, button, input, small {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 3.8em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-size: 1.6em;
  color: #3A3A3A;
}

a {
  font-size: 1.2em;
}

.storytellingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 38em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 2.5em;
  margin-bottom: 2em;
  background-color: #141414;
  border-radius: 1.4em;
}
.storytellingCard__title {
  margin-bottom: 1em;
  font-weight: 500;
  color: #FED031;
}
.storytellingCard__subtitle {
  font-weight: 400;
  color: #33B5B0;
  margin-bottom: 1em;
}
.storytellingCard__video {
  width: 100%;
  height: auto;
  border-radius: 0 0 1.4em 1.4em;
}
.storytellingCard__video iframe {
  width: 100%;
  border-radius: 0 0 1.4em 1.4em;
  height: 100%;
}

@media only screen and (min-width: 375px) {
  .storytellingCard__video {
    height: 21em;
  }
}
@media only screen and (min-width: 768px) {
  .storytellingCard {
    width: 60%;
    max-width: 45em;
  }
  .storytellingCard__subtitle {
    font-size: 2em;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1024px) {
  .storytellingCard {
    max-width: 55em;
  }
  .storytellingCard__video {
    height: 30em;
  }
}
.trajectoryMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4em 2.5em;
}
.trajectoryMain__title {
  margin-bottom: 1em;
  color: #8F3088;
}
.trajectoryMain__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.trajectoryMain__container-parraph {
  margin-bottom: 1.5em;
  line-height: 1.4em;
}
.trajectoryMain__container-img {
  width: 100%;
  margin-bottom: 3em;
  text-align: center;
}
.trajectoryMain__container-img img {
  width: 100%;
  margin-bottom: 1.5em;
}
.trajectoryMain__container-img span {
  font-weight: 300;
  font-size: 1.3em;
}

.storyTelling {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 2.5em;
  text-align: center;
  background-image: url("../images/fondo2.png");
  background-attachment: fixed;
}
.storyTelling__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.storyTelling__title {
  margin-bottom: 2em;
  line-height: 1.3em;
  color: #FBFAEC;
}
.storyTelling__subtitle {
  margin-top: 1.5em;
  color: #FBFAEC;
}
.storyTelling .carousel::-webkit-scrollbar {
  height: 1em;
  padding: 0.1em 0;
  border-radius: 1em;
  background-color: #baa7b8;
}
.storyTelling .carousel::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: #8F3088;
}
.storyTelling .carousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 90%;
  max-width: 100em;
  padding: 3em;
  overflow: scroll;
  overflow-y: hidden;
}
.storyTelling .carousel__container {
  width: 100%;
  white-space: nowrap;
  padding: 0 2em 1em;
  -webkit-user-select: none;
          user-select: none;
}
.storyTelling .carousel__container .carousel-item {
  display: inline-block;
  margin-right: 1em;
  max-width: 30em;
  width: 100%;
  background-color: lightcoral;
  overflow: hidden;
  transition: 0.5s all;
  transform-origin: center left;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-user-select: none;
          user-select: none;
  box-shadow: 0 1em 5em #8F3088;
}
.storyTelling .carousel__container .carousel-item img {
  width: 100%;
}
.storyTelling .carousel__container .carousel-item:last-of-type {
  transform-origin: center right;
}

@media only screen and (min-width: 597px) {
  .trajectoryMain {
    padding: 9em 2.5em 5em;
  }
  .trajectoryMain__container {
    width: 80%;
    max-width: 70em;
  }
  .trajectoryMain__container-parraph {
    margin-bottom: 3em;
  }
  .trajectoryMain__container-img {
    width: 80%;
    margin-bottom: 5em;
  }

  .storyTelling .carousel__container {
    margin: 8em 0;
  }
  .storyTelling .carousel__container .carousel-item:hover ~ .carousel-item {
    transform: translate3d(10em, 0, 0);
  }
  .storyTelling .carousel__container:hover .carousel-item {
    opacity: 0.3;
  }
  .storyTelling .carousel__container:hover .carousel-item.carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  .trajectoryMain {
    padding: 9em 2.5em 5em;
  }
  .trajectoryMain__container {
    width: 80%;
    max-width: 70em;
  }
  .trajectoryMain__container-img {
    width: 60%;
  }
}
@media only screen and (min-width: 1024px) {
  .trajectoryMain__container {
    display: grid;
    gap: 5em;
    grid-template-areas: "left right";
    justify-items: center;
    max-width: 100em;
    margin-bottom: 3em;
  }
  .trajectoryMain__container-img {
    width: 100%;
  }
  .trajectoryMain__container:nth-of-type(1) .trajectoryMain__container-parraph {
    grid-area: left;
  }
  .trajectoryMain__container:nth-of-type(1) .trajectoryMain__container-img {
    grid-area: right;
  }
  .trajectoryMain__container:nth-of-type(2) .trajectoryMain__container-parraph {
    grid-area: right;
  }
  .trajectoryMain__container:nth-of-type(2) .trajectoryMain__container-img {
    grid-area: left;
  }
  .trajectoryMain__container:nth-of-type(3) .trajectoryMain__container-parraph {
    grid-area: left;
  }
  .trajectoryMain__container:nth-of-type(3) .trajectoryMain__container-img {
    grid-area: right;
  }
  .trajectoryMain__container:nth-of-type(4) .trajectoryMain__container-parraph {
    grid-area: right;
  }
  .trajectoryMain__container:nth-of-type(4) .trajectoryMain__container-img {
    grid-area: left;
  }
}
@media only screen and (min-width: 1024px){
  .trajectoryMain__container:nth-of-type(1) .trajectoryMain__container-parraph {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .trajectoryMain__container:nth-of-type(1) .trajectoryMain__container-img {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trajectoryMain__container:nth-of-type(2) .trajectoryMain__container-parraph {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trajectoryMain__container:nth-of-type(2) .trajectoryMain__container-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .trajectoryMain__container:nth-of-type(3) .trajectoryMain__container-parraph {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .trajectoryMain__container:nth-of-type(3) .trajectoryMain__container-img {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trajectoryMain__container:nth-of-type(4) .trajectoryMain__container-parraph {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .trajectoryMain__container:nth-of-type(4) .trajectoryMain__container-img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}