@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #FBFAEC;
}

h1, h2 {
  font-family: "Bad Script", sans-serif;
}

h3, h4, h5, h6, p, a, span, button, input, small {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 4.5em;
}

h2 {
  line-height: 1.3em;
  font-size: 3.5em;
}

h3 {
  font-size: 2.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-size: 1.6em;
  color: #3A3A3A;
}

a {
  font-size: 1.2em;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/fondo1.png");
  background-attachment: fixed;
}

.audioVisualMain {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 80em;
  padding: 4em 2.5em;
  background-color: #FBFAEC;
}
.audioVisualMain__title {
  margin-bottom: 1em;
  text-align: center;
  color: #8F3088;
}
.audioVisualMain__description {
  font-weight: 300;
  text-align: center;
  color: #141414;
  margin-bottom: 3em;
  line-height: 1.4em;
}
.audioVisualMain .carousel::-webkit-scrollbar {
  height: 1em;
  padding: 0.1em 0;
  border-radius: 1em;
  background-color: #545454;
}
.audioVisualMain .carousel::-webkit-scrollbar-thumb {
  border-radius: 1em;
  background-color: #FED031;
}
.audioVisualMain .carousel {
  position: relative;
  max-width: 60em;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 2em;
}
.audioVisualMain .carousel__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.audioVisualMain .carousel__container .carousel-item {
  position: relative;
  display: inline-block;
  max-width: 50em;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 2em;
  margin-bottom: 4em;
  -webkit-user-select: none;
          user-select: none;
  background-color: #FBFAEC;
  box-shadow: 0 1em 1.5em rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 0.5em 0.5em 0 0;
}
.audioVisualMain .carousel__container .carousel-item__title {
  padding: 0.5em 2em;
  background-color: #141414;
  color: #FED031;
  font-weight: 300;
  font-family: "Bad Script", sans-serif;
  line-height: 1.3em;
  border-radius: 0.5em 0.5em 0 0;
}
.audioVisualMain .carousel__container .carousel-item__video {
  width: 100%;
}
.audioVisualMain .carousel__container .carousel-item__description {
  margin: 2em 0;
  padding: 0 2em;
  font-weight: 300;
  font-style: italic;
}
.audioVisualMain .carousel__container .carousel-item__autor {
  padding: 0 2em;
  font-size: 1.2em;
  font-weight: 300;
  color: #141414;
}

@media only screen and (min-width: 375px) {
  .audioVisualMain {
    width: 90%;
  }
}
@media only screen and (min-width: 597px) {
  .audioVisualMain {
    width: 80%;
  }
  .audioVisualMain__title {
    margin-top: 1.5em;
  }
  .audioVisualMain__description {
    width: 70%;
    max-width: 40em;
  }
}
@media only screen and (min-width: 768px) {
  .audioVisualMain__description {
    font-size: 1.8em;
  }
}