@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #FBFAEC;
}

html {
  position: relative;
}

h1, h2 {
  font-family: "Bad Script", sans-serif;
}

h3, h4, h5, h6, p, a, span, button, input, small {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 2.8em;
}

h4 {
  font-size: 1.6em;
}

h5 {
  font-size: 1.4em;
}

h6 {
  font-size: 1.2em;
}

p {
  font-size: 1.5em;
}

a {
  font-size: 1.2em;
}

.whoAreThey {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 5em 2em;
}
.whoAreThey__image {
  width: 22em;
  height: 22em;
  margin-bottom: 3em;
  border-radius: 100em;
  background-image: url("../images/home_main_image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.whoAreThey__title {
  color: #8F3088;
  margin-bottom: 1em;
  font-weight: 500;
}
.whoAreThey__description {
  text-align: center;
  font-weight: 400;
  color: #313131;
}

@media only screen and (min-width: 597px) {
  .whoAreThey__description {
    width: 30em;
  }
}