@import "componentes/globales";
@import "componentes/tarjetas_historia";



.historyMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../images/fondo1.png");
    &__title{
        margin: .5em 0;
        color: $Color-negro;

    }
    &__card:nth-of-type(1){
        background-color: $Color-morado-primario;
    }
    &__card:nth-of-type(2){
        background-color: $Color-azul-primario;
    }
}

@media only screen and (min-width: $break-mobile-tablet){
    .historyMain{
        &__title{
            margin-top: 3em;
    
        }
    }
}
@media only screen and (min-width: $break-tablet){
    .historyMain{
        &__content{
            display: flex;
            justify-content: space-between;
            width: 90%;
            max-width: 65em;
        }
    }
}