@import "componentes/globales";

.traditionMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 2.5em;
    background-image: url("../images/fondo1.png");
    background-attachment: fixed;
    &__title{
        margin-bottom: 1em;
        text-align: center;
        
        color: $Color-morado-primario;
    }
    &__description{
        font-weight: 400;
        color: $Color-gris-morado;
        margin-bottom: 3em;
        p{
            line-height: 1.4em;
        }
    }
    
    img{
        width: 100px;
    }
}

@media only screen and (min-width: $break-mobile-tablet){
    .traditionMain{
        &__title{
            margin-top: 2em;
        }
        &__description{
            width: 85%;
            max-width: 60em;
        }
    }
}
@media only screen and (min-width: $break-laptop){
    .traditionMain{
        &__description{
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 85em;
            p{
                margin: 1em;
            }
        }
    }
}