@import "componentes/globales";

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/fondo1.png");
    background-attachment: fixed;
}

.traditionMain{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4em 2.5em;
    background-color: $Color-blanco;
    width: 100%;
    max-width: 90em;
    &__title{
        margin-bottom: 1em;
        text-align: center;
        
        color: $Color-morado-primario;
    }
    &__description{
        font-weight: 400;
        color: $Color-gris-morado;
        margin-bottom: 3em;
        p{
            line-height: 1.4em;
        }
    }
    .carousel::-webkit-scrollbar{
        height: 1em;
        padding: .1em 0;
        border-radius: 1em;
        background-color: $Color-gris-morado;
    }
    .carousel::-webkit-scrollbar-thumb{
        border-radius: 1em;
        background-color: $Color-azul-primario;
    }
    .carousel{
        position: relative;
        display: grid;
        grid-template-columns: repeat(13, 100%);
        gap: 1em;
        align-items: end;
        max-width: 60em;
        width: 100%;
        height: fit-content;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding-bottom: 2em;
        &-item{
            position: relative;
            scroll-snap-align: center;
            width: 100%;
            height: fit-content;
            &__image{
                position: relative;
                z-index: 1;
                width: 100%;
            }
            &__container{
                box-sizing: border-box;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5%;
                width: 100%;
                background-color: rgba(0, 0, 0, .5);
                &__title, &__description{
                    text-align: center;
                    color: $Color-blanco;
                }
            }
        }
    }
    
    
}

@media only screen and (min-width: $break-mobile-M){
    .traditionMain{
        width: 90%;
        .carousel{
            &-item{
                &__container{
                    &__title, &__description{
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $break-mobile-L){
    .traditionMain{
        width: 80%;
        .carousel{
            &-item{
                &__container{
                    &__title, &__description{
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $break-mobile-tablet){
    .traditionMain{
        &__title{
            margin-top: 2em;
        }
        &__description{
            width: 85%;
            max-width: 60em;
        }
        .carousel{
            &-item{
                &__container{
                    &__title, &__description{
                        font-size: 1.6em;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $break-laptop){
    .traditionMain{
        &__description{
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 85em;
            p{
                margin: 1em;
            }
        }
    }
}