@import "componentes/globales";
@import "componentes/header";
@import "componentes/hero";
@import "componentes/footer";

@media only screen and (min-width: $break-mobile-M){
    html{
        font-size: 69%;
    }   
}

@media only screen and (min-width: $break-mobile-L){
    html{
        font-size: 71%;
    }
    
}
@media only screen and (min-width: $break-mobile-tablet){
    html{
        font-size: 73%;
    }
    
}
@media only screen and (min-width: $break-tablet){
    html{
        font-size: 74%;
    }
}

@media only screen and (min-width: $break-laptop){
    html{
        font-size: 75%;
    }
}