@import "componentes/globales";

.whoAreThey{
    box-sizing: border-box;
    display: flex;    
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 5em 2em;
    &__image{
        width: 22em;
        height: 22em;
        margin-bottom: 3em;
        border-radius: 100em;
        background-image: url("../images/home_main_image.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__title{
        color: $Color-morado-primario;
        margin-bottom: 1em;
        font-weight: 500;
    }
    &__description{
        text-align: center;
        font-weight: 400;
        color: $Color-negro-claro;
    }
}

@media only screen and (min-width: $break-mobile-tablet){

    .whoAreThey{
        &__description{
            width: 30em;   
        }
    }
}