.footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 3em 0;
    background-color: $Color-negro;
    box-shadow: 0 -1em 1em rgba(0, 0, 0, .5);
    .rights{
        font-weight: 300;
        color: $Color-blanco;
        font-size: 1.3em;
    }
}